# <%=config[:constant_name]%>

TODO: Describe your project


## Install Dependencies and Run

Requirements are tracked in requirements.txt by convention.

```bash
go mod init github.com/<%=config[:author]%>/<%=config[:name]%>
go mod tidy
go get ./...
go build cmd/<%=config[:underscored_name]%>.go
go run cmd/<%=config[:underscored_name]%>.go
```


## Run Tests

```
go test ./...
```
