package api

import "fmt"

type SomeStruct struct {
	Msg    string `json:"msg"`
	Random string `json:"random"`
}

func (h SomeStruct) Hello(otherString string) string {
	return fmt.Sprintf("Hello, %s %s", h.Msg, otherString)
}

func SayHello(msg string) string {
	var pointerToSomeStruct = &SomeStruct{}
	pointerToSomeStruct.Msg = msg
	return pointerToSomeStruct.Hello("other message")
}
